@charset "utf-8";
/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,button,textarea,p,th,td{margin:0; padding:0;}
body{font-size:12px; font-family:arial,\5B8B\4F53,sans-serif; background:#f3f1f4; color:#4d4d4d;overflow-x:hidden;}
body,html{_overflow-x:hidden;}
h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;}
ul,ol{list-style:none;}
em,i,address{font-style:normal;}
fieldset,img{border:0;}
img{vertical-align:bottom;}
a{color:#4d4d4d; text-decoration:none;}
a:hover{color:#ec3891;}
.clearfix:after{content:'.'; height:0; display:block; clear:both; visibility:hidden;}.clearfix{*zoom:1;}/* clear */
/* layout css */
.wrap,.banner_ad,.top_head_bd,.nav_bar_bd,.f_site_bd{width:1000px; margin:0 auto;}
/* 初始化 */
.deep_red{color:#ec3891;}/* 深红色 */
.light_red{color:#dc5c95;}/* 浅红色 */
.gray{color:#808080;}/* 浅灰色 */
.d_gray{color:#333;}/* 深灰色 */
.bold{font-weight:bold;}
.f10{font-size:10px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.hidden{display:none;}
.login_after a:hover,.site_nav a:hover{text-decoration:underline;}
/* comm_imgs background */
.btn_login,.btn_reg,.site_order,.site_weibo,.site_attention,.site_weibo_icon,.vip_logo_img,.shopping_bag .btn_pay,.nav_line,.nav_current,.nav_list li a:hover,.nav_list_cell,.nav_call,.nav_online,.nav_supervisor,.shopping_info .btn_paynow,.new_post_icon,.head_new_icon,.category_tag,.cate_major strong,.to_top
,.f_tit,.f_help_list dd a,.weixin,.login_after .uv_1,.login_after .uv_2,.survey_icon,.sidebar_bag,.sidebar_help,.sidebar_totop,.sidebar_advice,.sidebar li.selected,.sidebar_bag_icon{background-image:url({$imgDomain}/te/comm_imgs.png?{$shopImgVer}); background-repeat:no-repeat;}
/*特卖会平铺图片*/
.nav_bar,.cate_major,.pro_block,.pro_dotted{background:url({$imgDomain}/te/te_rep_imgs.png?{$shopImgVer});background-repeat:repeat-x;}

#top_head{height:27px; background:#FBF9FB; border-bottom:1px solid #F8F2F7;}
.login_info{width:250px; height:27px; padding-left:80px; float:left; line-height:27px; overflow:hidden;}
.btn_login,.btn_reg{width:40px; height:18px; margin:4px 0 0 4px; float:left; display:inline; background-position:-350px -100px; text-align:center; line-height:18px; color:#FFF; cursor:pointer;}
.btn_reg{width:65px; background-position:-400px -100px;}
.login_before a,.login_before a:hover{color:#FFF;}
.login_after{padding:8px 0 0 0;width:300px;display:block;height:15px;overflow:hidden;}
.login_after a{float:left;color:#D12E81;padding:0 5px 0 0;_padding:1px 5px 0 0;line-height:15px;display:inline-block;height:15px;font-family:\5B8B\4F53,arial,sans-serif;font-size:12px;}
.login_after span{height:15px;display:inline-block;font-family:\5B8B\4F53,arial,sans-serif;line-height:15px;font-size:12px;padding:0 5px 0 0;}
.login_after .uv_1,.login_after .uv_2{width:16px;height:13px;margin:0 5px 0 2px;float:right;}
.login_after .uv_1{background-position:-550px -50px;}
.login_after .uv_2{background-position:-550px -100px;}
.pop_viptip{width:380px;height:180px; background:#fff; text-align:center;padding-top:40px;}
.pop_viptip p,.pop_viptip strong{color:#666666;font:12px/24px \5B8B\4F53,arial,sans-serif; display:block;}
.pop_viptip strong{font:bold 14px/32px \5B8B\4F53,arial,sans-serif;}
.pop_viptip .close_btn{width:10px;height:10px;display:block;background-position:-150px 0;position:absolute;top:29px;right:29px;cursor:pointer;}
.pop_viptip button{width:100px;height:30px;font:12px/30px \5B8B\4F53,arial,sans-serif; text-align:center;color:#fff;display:block; background-position:0 -200px;margin:0 auto; border:0 none;cursor:pointer;}
.site_nav{width:614px; margin-top:6px; float:right;}
.site_nav li{height:19px;padding-top:2px;float:left;}
.site_nav a{padding:0 5px; border-right:1px solid #DDDCDC;}
/* 订单管理 */
.site_order{background-position:-245px -143px;}
.site_order a{padding-right:15px;}
/* 关注 */
.site_weibo{padding-left:17px; background-position:-498px -97px;}
.site_attention{padding-right:10px; background-position:-276px -143px; color:#C4247E; cursor:pointer;}
.site_sub{display:none; background:#FFF;}
/* 订单管理显示隐藏层 */
.site_order_hover{height:20px; margin:-1px 0 0 -1px; border:1px solid #DF469B; border-bottom:0;background-position:-245px -193px; background-color:#FFF; position:relative;}
.site_order_hover a{border:0;}
.site_order_hover .site_sub{width:68px; display:block; border:1px solid #DF469B; border-top:0; position:absolute; top:20px; left:-1px; line-height:24px;}
/* 关注显示隐藏层 */
.site_weibo_hover{height:20px; margin:-1px 0 0 -1px; border:1px solid #DF469B; border-bottom:0; background-color:#FFF; position:relative;}
.site_weibo_hover .site_attention{background-position:-276px -193px}
.site_weibo_hover .site_sub{width:51px; padding-top:5px; display:block; border:1px solid #DF469B; border-top:0; position:absolute; top:20px; left:-1px;}
.site_weibo_hover .site_weibo_icon{width:22px; height:22px; margin:0 auto 10px; display:block; border:0; padding:0;}
.site_weibo_hover .sn{background-position:-600px -50px;}
.site_weibo_hover .tx{background-position:-600px -100px;}
.site_weibo_hover .wy{background-position:-600px -150px;}
.site_weibo_hover .sh{background-position:-600px -200px;}
/* header css */
#header{background:#FFF;}
.logo_bar{width:1000px;height:112px; margin:0 auto;}
.vip_logo{width:282px; padding:25px 0 6px 0; float:left;}
.vip_logo_img{width:282px; height:76px; display:block; background-position:0 -50px; text-indent:-1000px; overflow:hidden;}
.shopping_bag{width:200px; margin:75px 0 0 158px; float:left; display:inline; position:relative; z-index:110;}
.shopping_num{height:22px; float:left; line-height:22px; color:#4B4344;}
.shopping_bag .btn_pay{width:115px; height:22px; padding-left:5px; float:left; background-position:-350px -200px; line-height:21px; text-align:center; color:#FFF;}
/*.pop_shopping_tips{width:170px; height:23px; display:block; background-position:-400px -250px; color:#463845; line-height:20px; text-align:center; position:absolute; top:-28px; left:50px;}*/
.shopping_info{width:498px; padding:1px; background:#F9F8F9; position:absolute; top:30px; left:0;display:none;}
.shopping_info th{height:45px; background:#EEECEF; font-weight:normal;}
.shopping_info .td_center{text-align:center;}
.shopping_info .tr_border td{padding:5px 0;border-bottom:1px solid #ECEBED;}
.shopping_info .td_tips{padding:10px 0 10px 20px; line-height:22px;}
.shopping_info .td_total{padding:20px 20px 20px 0; text-align:right;}
.shopping_info .btn_paynow{width:140px; height:40px; margin-top:10px; float:right; background-position:-350px -150px; color:#FFF; text-align:center; font:bold 14px/40px \5B8B\4F53,arial,sans-serif;}
.shopping_info .tr_border .pl20{padding-left:20px;}
.shopping_info .tr_border .pr20{padding-right:20px;}
.shopping_info td,.shopping_info td a{color:#777;}
.top_bg_box{width:320px; height:112px; float:right; text-align:right; overflow:hidden;}/* 右上角-图片或动画 */
.nav_bar{height:38px;overflow:hidden;}
.nav_list li{float:left;}
.nav_list li.nav_line{background-position:0 0;width:2px;height:38px;}
.nav_list li.nav_current{background-position:-50px 0;width:98px;height:38px;}
.nav_list li a{width:98px; line-height:38px; text-align:center; display:block; color:#fadaeb;font-size:14px; font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;}
.nav_list li a:hover{background-position:-50px 0;color:#fadaeb;}
.nav_list_cell{background-position:0 -150px;width:9px;height:14px;float:left;margin:13px -4px 0 22px;}
.free_post_icon, .new_post_icon{width:26px; height:14px; display:block; margin:-53px 0 0 80px; position:absolute;}
.free_post_icon{background-position:-500px -200px;}
.new_post_icon{background-position:-550px -200px;margin:-43px 0 0 50px;}
.head_new_icon{background-position:-500px -150px; display:block;position:relative; top:-21px;left:38px;width:22px; height:12px;}
.beauty_into{position:relative;}
.beauty_into .head_new_icon{position:absolute;left:43px;top:2px;}
.nav_service span{float:left;}
.nav_call{padding-left:21px; margin-top:12px; background-position:0 -200px; font:normal 14px arial;color:#fadaeb;}
.nav_online{line-height:17px;padding-left:25px; margin:12px 10px 0 10px; display:inline; background-position:-150px -200px;color:#fadaeb;cursor:pointer;}
.nav_supervisor{width:59px; height:21px; padding-left:23px; margin-top:8px; display:block; background-position:0 -229px; line-height:21px;color:#FDF5FA;text-indent:-9999px;}
.nav_supervisor:hover{color:#FDF5FA;}
.nav_sub_bar{height:29px; background:#F0EBEF; border-bottom:1px solid #E3D6DF; line-height:29px;}
.nav_sub_list{padding-left:5px;}
.nav_sub_list li{padding:0 20px; float:left;}
.nav_sub_list .cur,.nav_sub_list a:hover{color:#DB348D;}
.nav_sub_bar .tour{padding-left:310px;}
/* 商品分类 */
.category_li dl:after{content:'.'; height:0; display:block; clear:both; visibility:hidden;}.category_li dl{*zoom:1;}/* clear */
.category{position:relative; z-index:10;}
.category_tag{width:80px; height:29px; padding:0 20px 0 10px; background-position:-150px 0; color:#D50078; line-height:29px; text-align:center; cursor:pointer;}
.category_tag_hover{font-weight:bold;}
.category_li{width:318px; border:1px solid #E7E3E4; border-bottom:1px solid #D50078; background:#FBF9FB; position:absolute; top:29px; right:0; box-shadow:-1px 0 1px #E7E3E4,1px 0 1px #E7E3E4; -moz-box-shadow:-1px 0 1px #E7E3E4,1px 0 1px #E7E3E4; -webkit-box-shadow:-1px 0 1px #E7E3E4,1px 0 1px #E7E3E4;}
.cate_major{height:30px; background-position:0 -150px; text-align:center; cursor:pointer;}
.cate_major_hover{background-position:0 -200px;}
.cate_major strong{width:120px; height:30px; display:block; margin:0 auto; padding-right:15px; background-position:-23px -137px; font-weight:normal; font-size:14px; color:#807D7E; overflow:hidden;}
.cate_sub{height:250px; padding:10px 0 30px 20px; border-bottom:1px solid #eee; overflow-x:hidden; overflow-y:auto;}
.category_li dl{border-bottom:1px dashed #D5D5D5;}
.category_li dl:last-child{border:0;}
.category_li dt,.category_li dd{float:left; line-height:30px;}
.category_li dt{width:65px; height:30px; padding-right:10px; font-weight:bold; color:#D50078; overflow:hidden;}
.category_li dd{width:203px; color:#E5E5E5;}
.category_li dd a{color:#8C888B;}
.category_li dd a:hover{color:#D50078;}
.category_hover .category_tag{height:30px; position:absolute; top:0; right:0; z-index:1;}
.category_hover .category_li{display:block;}

/* new footer start add by lijy 20121015 */
.vip_survey{padding-top:10px;background-color:#fcfafc;}
.vip_survey_content{width:1000px;margin:0 auto;background-color:#f3f1f4;border:1px solid #f0edf0;height:28px;padding-top:10px;}
.survey_icon{color:#808080;font-size:14px;background-position:-650px -250px;padding-left:30px;margin-top:11px;height:19px;display:block;width:248px; margin:0 auto;}
.survey_icon:hover{color:#d7237e;}
.mgc{margin:0 auto;}
.fSiteBd{width:1000px; margin:0 auto;}
.f_site_bd{width:1024px;}
#footer{background:#FCFAFC;color:#8c8c8c;padding-bottom:92px;}
.f_help_links{height:224px;}
.f_help_list{width:130px;height:142px;margin-top:41px;float:left; border-left:1px solid #FDFDFD; border-right:1px solid #E9E1E8;padding:0 0 0 10px;}
.f_tit{height:25px;color:#666666;line-height:21px;}
.f_server .f_tit{background-position:-650px 0px;padding-left:21px;}
.f_buy .f_tit{background-position:-650px -30px;padding-left:23px;}
.f_pay .f_tit{background-position:-650px -60px;padding-left:27px;}
.f_distribution .f_tit{background-position:-650px -90px;padding-left:27px;}
.f_sell .f_tit{background-position:-650px -120px;padding-left:25px;}
.f_client .f_tit{background-position:-650px -150px;padding-left:18px;}
.f_code2 .f_tit{background-position:-650px -180px;padding-left:28px;}
.f_help_list dd{padding-left:6px;}
.f_help_list dd a{color:#999199;font:12px/22px \5B8B\4F53,arial,sans-serif;padding-left:9px;height:22px;display:block; overflow:hidden;background-position:-650px -200px;}
.f_help_list dd a:hover{background-position:-650px -222px;color:#d7237e}
.f_server{border-left:0;}
.f_code2{border-right:0; list-style:none}
.f_code2 .weixin{background-position:-330px 0;width:88px;height:88px}
.f_code2 dd{ padding-left:20px}
.f_code2 dd a{background:none;padding-left:0;margin-left:-8px}
.f_site_nav{height:33px; background:#d7237e;color:#fff;text-align:center; }
.f_site_nav div{font:12px/33px \5B8B\4F53,arial,sans-serif;}
.f_site_nav a{padding:0 6px; color:#fff;}
.f_site_info{padding:10px 0 30px; text-align:center;color:#767074}
.f_site_info a {color:#898389;}
.f_site_info .agree_department{margin-top:10px;}
.footer_img{text-align:center;width:1024px;height:40px;padding-top:4px;background:#FBFAFD;}
/* new footer end */

/* 常用按扭-固定样式 */
.btn_comm{height:30px; color:#fefffd; line-height:30px; text-align:center; display:block; cursor:pointer; border:0;}
.btn130{background-position:0 0;width:130px;}
.btn130:hover{ background-position:0 -50px; color:#fefffd;}
.btn130_gray{background-position:0 -100px;width:130px;}
.btn130_gray:hover{ background-position:0 -150px; color:#fefffd;}
.btn100{background-position:0 -200px;width:100px;}
.btn100:hover{ background-position:0 -250px; color:#fefffd;}
/* 弹出框按钮-公用 */
.btn130,.btn100,.btn130_gray,.icon_c,.pop_close_btn,.pop_add_success,.pop_tips_tit,.pro_soldout_title,.big_tit,.close_btn,.pop_viptip button{background-image:url({$imgDomain}/te/pop_btns.png?{$shopImgVer});background-repeat:no-repeat;}/* 弹出框按钮拼图 */
.pop_up_border{background:#fbf9fc; border:1px solid #fff; border:1px solid #e7e4e7\9; box-shadow:0 0 6px #999;}
.pop_close_bar{height:10px; overflow:hidden; margin:9px 19px 30px 0;}
.pop_close_btn{width:10px; height:10px; float:right; background-position:-150px 0; cursor:pointer;}/* 关闭按扭 */
/* 购物小贴士 */
.pop_cart_tips{width:338px; height:218px; border:1px solid #e3dfe3; background-color:#f8f6f8; position:absolute; right:1px;}
.pop_tips_head{height:45px; padding:10px 10px 20px 10px;}
.pop_tips_tit{padding-left:53px; background-position:-150px -200px; float:left; font:bold 14px/45px \5B8B\4F53,arial,sans-serif; color:#db5c95;}
.pop_tips_txt{width:270px; margin:0 auto; line-height:22px;}
.pop_tips_txt .operate_btn02{margin:22px 0 0 85px; width:100px; height:30px;}
/*-购物袋数量显示-*/
.imgHeadBd .iHB_bag{height:26px;padding:38px 0 0 317px;width:173px; position:relative;z-index:30;}
.iHB_bag .bag_text{font:12px/26px \5B8B\4F53,arial,sans-serif;color:#808080;}
.iHB_bag .bag_content{width:114px;height:26px;padding-left:10px;background-position:-200px -350px;color:#fbe4f0;font:12px/26px Arial,\5B8B\4F53;text-align:center;}
.iHB_bag .bag_content em{color:#fbe4f0;font:12px/26px Arial,\5B8B\4F53;}
/*-购物袋列表-*/
.iHBb_info{width:498px; padding:1px; background:#f3f1f3; position:absolute;top:21px; left:0; display:none; z-index:110; border:1px solid #fff; box-shadow:0 0 3px #e0dfe0;}
.iHBb_info th{height:45px; font-weight:normal; color:#646464;}
.iHBb_info .td_center{text-align:center;}
.tr_border{background:#fdfafe;}
.iHBb_info .tr_border td{padding:5px 0;border-bottom:1px solid #f0ecf2;}
.iHBb_info .td_tips{padding:10px 0 10px 20px; line-height:22px;}
.iHBb_info .td_total{padding:10px 20px 20px 0; text-align:right;}
.iHBb_info .btn_paynow{width:130px; height:30px; line-height:30px; margin-top:10px; float:right; text-align:center;}
.iHBb_info .tr_border .pl20{padding-left:20px;}
.iHBb_info .tr_border .pr20{padding-right:20px;}
.iHBb_info td,.iHBB_info td a{color:#777;}
/* 右侧悬浮窗*/
.sidebar{width:82px; position:fixed; left:50%; bottom:130px; margin-left:501px; z-index:100;border: 4px solid #e5e3e6; border-bottom: none;}
.sidebar .pro_dotted{background-position: 0 -120px;display: block;width:82px;height: 1px;}
.sidebar li{width:82px;background-color: #fff; cursor: pointer;color: #333;border-bottom: 2px solid #e5e3e6; text-align: center;}
.sidebar li.sidebar_totop{border-bottom-width: 4px;}
.sidebar li.sidebar_menu{height: 35px;line-height: 34px;text-align: center;border-bottom: none;}
.sidebar li.selected{background-position: -644px -269px;background-color: #f10180;color:#fff;height: 34px;overflow:hidden;}
.sidebar li:hover{background-color: #f10180;}
.sidebar li:hover span,.sidebar li:hover a,.sidebar li.selected a,.sidebar_bag:hover font{color: #fff;}
.sidebar li.special{border-bottom: 2px solid #e5e3e6;}
.sidebar_bag{background-position: -102px -247px;height: 65px;position: relative;}
.sidebar_bag:hover{background-position: -155px -247px;}
.sidebar_bag span,.sidebar_help span,.sidebar_advice a{padding-top: 41px; display: block;}
.sidebar_bag_icon{background-position: -500px -250px;width: 25px;height: 19px;position: absolute;top: 8px;right: 10px; line-height: 19px;text-align: center;color: #f10180;display: none;}
.sidebar_bag font{color:#ed1584;padding-top: 41px;font-weight: bold;}
.sidebar_bag:hover .sidebar_bag_icon{background-position: -550px -250px;color: #fff;}
.sidebar_help{background-position: -261px -249px;height: 65px;}
.sidebar_help:hover{background-position: -207px -249px;}
.sidebar_totop{background-position: -315px -246px;height: 44px;}
.sidebar_totop:hover{background-position: -368px -252px;}
.sidebar_totop:hover span{display: block;padding-top: 25px;}
.sidebar_advice{background-position: -51px -250px;height: 65px;}
.sidebar_advice:hover{background-position: 0 -250px;}