.dayImgVer {
  background-image:url({$imgDomain}/te/comm_imgs.png?{$dayImgVer});
}
.luxImgVer {
  background-image:url({$imgDomain}/optimize-jpg-test.jpg?{$luxImgVer});
}
.tourImgVer {
  background-image:url({$imgDomain}/te/comm_imgs.png?{$tourImgVer});
}
.goodsImgVer {
  background-image:url({$imgDomain}/rever.png);
}
.mallImgVer {
  background-image:url('{$imgDomain}/te/comm_imgs.png?{$mallImgVer}');
}
.cardImgVer {
	background-color: rgba(0, 0, 0, .5);
  background-image:url("{$imgDomain}/te/comm_imgs.png?{$cardImgVer}");
}
.otherDomain {
  background-image:url("{$otherDomain}/te/comm_imgs.png");
}